[submodule "external"]
	path = external
	url = git@github.com:kebag-logic/fpga-avb-ethernet.git
[submodule "third_party/verilog-axis"]
	path = third_party/verilog-axis
	url = https://github.com/alexforencich/verilog-axis
[submodule "protocol-processor"]
	path = protocol-processor
	url = https://github.com/Mister-M-alt/protocol-processor-control-plane-avb-milan.git
[submodule "gptp-processor"]
	path = gptp-processor
	url = https://github.com/Mister-M-alt/FPGA-gPTP.git
[submodule "third_party/lwSRP"]
	path = third_party/lwSRP
	url = https://github.com/kebag-logic/lwSRP.git
[submodule "third_party/tsn-c-stack"]
	path = third_party/tsn-c-stack
	url = https://github.com/kebag-logic/tsn-c-stack.git
