[submodule "external"]
	path = external
	url = git@github.com:kebag-logic/fpga-avb-ethernet.git
[submodule "third_party/verilog-axis"]
	path = third_party/verilog-axis
	url = https://github.com/alexforencich/verilog-axis
[submodule "third_party/buildroot"]
	path = third_party/buildroot
	url = https://gitlab.com/buildroot.org/buildroot.git
[submodule "protocol-processor"]
	path = protocol-processor
	url = https://github.com/Mister-M-alt/protocol-processor-control-plane-avb-milan.git
[submodule "gptp-processor"]
	path = gptp-processor
	url = git@github.com:Mister-M-alt/FPGA-gPTP.git
