build_rc=0
run_rc=1
$REVIEWS/551-r297-3-packet/scratch/pp_7a47f5788ff504f099a47ad4407c340771bb6bdb/hdl/srp/KL_srp_admission.sv
fail_section_I=28
fail_section_J=6
fail_total=34
checks: 415   failures: 34
RESULT: FAIL
