name=hold_margin
cwd=$REVIEWS/501-r313-3-packet
argv=python3 $REVIEWS/501-r313-3-packet/scripts/hold_margin.py $REVIEWS/501-r313-3-packet/receipts/figures_base_from_r313-2.json $REVIEWS/501-r313-3-packet/receipts/figures_head.json 
head=
start=2026-09-25T00:04:26Z
end=2026-09-25T00:04:26Z
rc=0
