# Lane B1 prep: a gPTP port that is never grandmaster (gmCapable 0 forces clockClass 255) on the controller host, used only to
# align this host's PHC with the current grandmaster before an offset.
[global]
gmCapable		0
priority1		255
priority2		255
logAnnounceInterval	0
logSyncInterval		-3
syncReceiptTimeout	3
neighborPropDelayThresh	800
min_neighbor_prop_delay	-20000000
assume_two_step		1
path_trace_enabled	1
follow_up_info		1
transportSpecific	0x1
ptp_dst_mac		01:80:C2:00:00:0E
network_transport	L2
delay_mechanism		P2P
tx_timestamp_timeout	50
