name=backend_mutants
cwd=$REVIEWS/501-r313-2-packet/scratch/head
argv=bash $REVIEWS/501-r313-2-packet/scripts/backend_mutants.sh $REVIEWS/501-r313-2-packet/scratch/head $VALIDATION_STORAGE/372-manager-candidate1/pinned-tool-bin/verilator $REVIEWS/501-r313-2-packet/scratch/mutants 
head=dd6a68e9063c3f7aa81536197254d187e9cb65ba
start=2026-09-24T23:34:35Z
end=2026-09-24T23:34:52Z
rc=0
