name=builder_profile_contract
cwd=$REVIEWS/r313-2-501
argv=python3 -c import\ sys\;\ sys.path.insert\(0\,\'sw/builder\'\)\;\ import\ test_builder\ as\ t\;\ t.test_baremetal_profile_contract\(\)\;\ print\(\'test_baremetal_profile_contract\ OK\'\) 
head=dd6a68e9063c3f7aa81536197254d187e9cb65ba
start=2026-09-24T23:37:46Z
end=2026-09-24T23:43:54Z
rc=0
