name=nvm_backend_head
cwd=$REVIEWS/501-r313-2-packet/scratch/head/tb/verilator/nvm_backend
argv=make -j8 VERILATOR=$VALIDATION_STORAGE/372-manager-candidate1/pinned-tool-bin/verilator VFLAGS=--cc\ --exe\ --build\ -j\ 8\ --prefix\ Vnvm\ -Wall\ -CFLAGS\ \"-std=c++17\ -O2\ -Wall\ -Wextra\" 
head=dd6a68e9063c3f7aa81536197254d187e9cb65ba
start=2026-09-24T23:34:27Z
end=2026-09-24T23:34:35Z
rc=0
