name=nvm_cosim_8x8
cwd=$REVIEWS/501-r313-2-packet/scratch/head/tb/verilator/nvm_cosim
argv=env PATH=<pinned-tool-dir>:<PATH> python3 -B run_cases.py --shapes 8x8 --jobs 2 --pool 4 --skip-mutants 
head=dd6a68e9063c3f7aa81536197254d187e9cb65ba
start=2026-09-24T23:34:56Z
end=2026-09-24T23:35:29Z
rc=0
