name=source_mutants
cwd=$REVIEWS/501-r313-2-packet/scratch/head
argv=python3 $REVIEWS/501-r313-2-packet/scripts/source_mutants.py $REVIEWS/501-r313-2-packet/scratch/head $VALIDATION_STORAGE/372-manager-candidate1/pinned-tool-bin 
head=dd6a68e9063c3f7aa81536197254d187e9cb65ba
start=2026-09-24T23:35:29Z
end=2026-09-24T23:36:39Z
rc=0
