name=backend_mutants
cwd=$REVIEWS/501-r313-1-packet/scratch/head
argv=bash $REVIEWS/501-r313-1-packet/scripts/backend_mutants.sh $REVIEWS/501-r313-1-packet/scratch/head $VALIDATION_STORAGE/372-manager-candidate1/pinned-tool-bin/verilator $REVIEWS/501-r313-1-packet/scratch/mutants 
head=
start=2026-09-24T22:35:03Z
end=2026-09-24T22:35:18Z
rc=0
