name=builder_profile_contract
cwd=$REVIEWS/r313-1-501
argv=python3 -c import\ sys\;\ sys.path.insert\(0\,\'sw/builder\'\)\;\ import\ test_builder\ as\ t\;\ t.test_baremetal_profile_contract\(\)\;\ print\(\'test_baremetal_profile_contract\ OK\'\) 
head=b5ee412cdc0fd771d3df1f7fda49031409cf11fa
start=2026-09-24T22:35:34Z
end=2026-09-24T22:41:43Z
rc=0
