name=compare_figures
cwd=$REVIEWS/r313-1-501
argv=python3 $REVIEWS/501-r313-1-packet/scripts/compare_figures.py $REVIEWS/501-r313-1-packet/receipts/figures_base.json $REVIEWS/501-r313-1-packet/receipts/figures_head.json $REVIEWS/r313-1-501 
head=b5ee412cdc0fd771d3df1f7fda49031409cf11fa
start=2026-09-24T22:34:02Z
end=2026-09-24T22:34:02Z
rc=0
