name=d3_replay_base_control
cwd=$REVIEWS/501-r313-1-packet/scratch/base
argv=env PATH=<pinned-tool-dir>:<PATH> python3 $REVIEWS/501-r313-1-packet/scratch/d3base/replay_d3.py 
head=
start=2026-09-24T22:44:07Z
end=2026-09-24T22:44:26Z
rc=1
