name=figures_base
cwd=$REVIEWS/501-r313-1-packet/scratch/base
argv=python3 $REVIEWS/501-r313-1-packet/scripts/tree_figures.py $REVIEWS/501-r313-1-packet/scratch/base $REVIEWS/501-r313-1-packet/receipts/figures_base.json 
head=
start=2026-09-24T22:33:37Z
end=2026-09-24T22:33:38Z
rc=0
