name=nvm_cosim_8x8
cwd=$REVIEWS/501-r313-1-packet/scratch/head/tb/verilator/nvm_cosim
argv=env PATH=<pinned-tool-dir>:<PATH> python3 -B run_cases.py --shapes 8x8 --jobs 2 --pool 4 --skip-mutants 
head=
start=2026-09-24T22:42:35Z
end=2026-09-24T22:43:08Z
rc=0
