name=nvm_backend_head
cwd=$REVIEWS/501-r313-1-packet/scratch/head/tb/verilator/nvm_backend
argv=make -j8 VERILATOR=$VALIDATION_STORAGE/372-manager-candidate1/pinned-tool-bin/verilator VFLAGS=--cc\ --exe\ --build\ -j\ 8\ --prefix\ Vnvm\ -Wall\ -CFLAGS\ \"-std=c++17\ -O2\ -Wall\ -Wextra\" 
head=
start=2026-09-24T22:34:23Z
end=2026-09-24T22:34:32Z
rc=0
