name=selftest_crash_probe
cwd=$REVIEWS/501-r313-1-packet/scratch/head
argv=python3 $REVIEWS/501-r313-1-packet/scripts/selftest_crash_probe.py $REVIEWS/501-r313-1-packet/scratch/head 
head=
start=2026-09-24T22:48:46Z
end=2026-09-24T22:49:15Z
rc=0
